.site-footer {
  &-logo {
    position: absolute;
    width: 15vw;
    height: auto;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
  }

  &-inner {
    margin-top: -6vw;
  }

  .email-subscription {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 12px;
    z-index: 1;

    &-image {
      max-width: 7rem;
    }
  }

  .bm-payment-icons {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;

    svg {
      height: 1.5em;
      width: auto;
    }
  }
}
