@mixin btn-primary-text-color {
  color: white;
}

.wpforms-form {
  .wpforms-field {
    padding: 0;
    margin-bottom: 1rem;
  }

  label {
    @extend .form-label;
    font-weight: normal !important;
  }

  textarea,
  input[type='text'],
  input[type='email'] {
    @extend .form-control;
  }

  .wpforms-submit {
    @extend .btn;
    @include button-variant(
      $primary,
      $primary,
      $color: #fff,
      $hover-color: #fff,
      $disabled-color: #fff
    );
    @include button-size(
      $btn-padding-y,
      $btn-padding-x,
      $btn-font-size,
      $btn-border-radius
    );
  }
}

.btn {
  font-family: 'novecento-sans', sans-serif;

  &-primary {
    color: white;
  }

  &-primary,
  &-outline-primary {
    &:hover {
      color: white;
    }
  }
}
