@include media-breakpoint-down(xl) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

.swal2-content {
  padding: 0 !important;

  .cwginstock-subscribe-form {
    div:first-child {
      margin-right: 1rem;
    }
  }
}

.single-product {
  .cwginstock-subscribe-form {
    margin-bottom: 1rem;
  }
}
