$primary: #7d7e7e;
$primary: #bdccc2;

$headings-font-weight: 300;

$btn-border-radius: 0;

$input-border-radius: 0;
$input-border-radius-sm: 0;
$input-border-radius-lg: 0;
$input-focus-border-color: #a7a7a7;
$input-focus-box-shadow: 0 0 0 0.2rem rgb(14 14 14 / 25%);

$offcanvas-vertical-height: 40vh;
