// body.theme-babymountain-2022.woocommerce {
body.theme-babymountain-2022 {
  // seriously woocommerce, WTF?
  &.single-product .product button.single_add_to_cart_button.button,
  .product button.add_to_cart_button.button,
  &.woocommerce-cart .button,
  &.woocommerce-checkout #payment #place_order,
  .woocommerce-message .button,
  ul.products li.product .button,
  .cwgstock_button {
    @extend .btn;
    @include button-variant(
      $primary,
      $primary,
      $color: #fff,
      $hover-color: #fff,
      $disabled-color: #fff
    );
    @include button-size(
      $btn-padding-y,
      $btn-padding-x,
      $btn-font-size,
      $btn-border-radius
    );
    padding: $btn-padding-y $btn-padding-x !important;
    font-family: 'novecento-sans', sans-serif;
    -webkit-font-smoothing: auto;
    text-transform: uppercase;
  }

  &.woocommerce-checkout {
    #payment {
      border-radius: 0;
    }

    #ship-to-different-address {
      @media screen and (max-width: 768px) {
        margin-top: 2rem;
        margin-bottom: 1rem;
      }
    }
  }

  &.woocommerce-cart {
    .coupon {
      #coupon_code {
        @extend .form-control;
        width: 48%;
      }

      button.button {
        width: 48%;
      }

      @include media-breakpoint-up(sm) {
        width: unset;
      }
    }

    table.shop_table {
      border-radius: 0;
    }

    a.remove {
      color: $primary !important;
      line-height: 1.1;

      &:hover {
        color: #fff !important;
        background-color: $primary;
      }
    }
  }

  .price .amount {
    color: $primary;
  }

  &.woocommerce.tax-product_cat header.woocommerce-products-header {
    text-align: center;

    .woocommerce-products-header__title {
      @extend .bm-decorative-bg;
      @extend .bm-decorative-bg-title-flipped;

      font-family: soft_whisperings;
      margin-top: 5rem;
      margin-bottom: 3rem;
      text-transform: capitalize;
    }

    .term-description {
      margin-bottom: 5rem;
    }
  }

  .product .woocommerce-tabs ul.tabs {
    display: none;

    @include media-breakpoint-up(md) {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      border-bottom: 1px solid $primary;
      padding: 0;
    }

    li {
      flex: 1;
      text-align: center;
      border: none;
      border-radius: 0;
      background-color: transparent;
      text-transform: uppercase;

      a {
        font-weight: 300;
      }

      &.active a {
        text-decoration: underline;
      }

      &::before,
      &::after {
        content: unset;
      }
    }

    &::before {
      content: unset;
    }
  }

  .woocommerce-Tabs-panel {
    h2 {
      text-align: center;
      margin-bottom: 1rem;
    }

    @include media-breakpoint-down(md) {
      display: block !important;
    }
  }

  table.variations {
    th.label {
      padding-right: 1rem;
    }
  }

  &.woocommerce-checkout {
    .form-row {
      #order_review_heading {
        margin-top: 1.5rem;
      }

      .input-text {
        line-height: 1.5;
      }

      .select2-selection.select2-selection--single {
        height: 38px;
        padding: 4px 4px;
        border-radius: 0;
        border-color: $gray-400;
      }

      .select2-container--default
        .select2-selection--single
        .select2-selection__arrow {
        top: 6px;
      }
    }

    h3#order_review_heading {
      margin-top: 1.5rem;
    }

    table.shop_table.woocommerce-checkout-review-order-table {
      border-radius: 0;
    }
  }

  form.woocommerce-ordering .orderby {
    @extend .form-select;
  }

  ul.products li.product {
    text-align: center;

    .price,
    .product-coming-soon {
      min-height: 21px;
      margin-bottom: 0.5rem;
      color: $primary;
    }

    &.outofstock .price {
      display: none;
    }
  }

  ul.products li.product-category {
    position: relative;

    img {
      margin-bottom: 0;
    }

    .woocommerce-loop-category__title {
      position: absolute;
      left: 1rem;
      right: 0;
      bottom: 1rem;
      padding: 1rem;
      background-color: rgba(255, 255, 255, 0.9);
      text-transform: uppercase;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: $body-color;

      .count {
        color: $body-color;
        background-color: transparent;
      }
    }
  }

  .bm-product-loop {
    &-image-wrapper {
      position: relative;
      overflow: hidden;
      margin-bottom: 1rem;

      &:hover .bm-product-loop-cta {
        transform: translateY(-100%);
      }

      img {
        margin-bottom: 0 !important;
      }
    }

    &-cta {
      position: absolute;
      top: 100%;
      width: 100%;
      padding: 1rem;
      background-color: rgba(255, 255, 255, 0.9);
      text-align: center;
      transition: transform 0.2s;
    }
  }

  section.related.products {
    clear: both;
  }

  .woocommerce-product-gallery {
    ol.flex-control-thumbs {
      display: flex;
      gap: 0.5rem;
      margin-top: 0.5rem !important;
    }
  }

  table.shop_table_responsive tr.woocommerce-cart-form__cart-item td {
    @media screen and (max-width: 768px) {
      display: flex;
      align-items: center;

      &::before {
        margin-right: 0.5rem;
      }
    }
  }
}
